<div class="productos">
<div class="container">
    <div class="row">
<!--CANASTA BABY-->
<div class="col-lg-12">
<div class="card text-center border-info  mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/imagenes/Canasta}baby.png" alt="Canasta Baby" style="width: 150px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CANASTA BABY</h5>
          <p class="card-text">La canasta Baby es justa para tu pequeño, <br> buscando siempre brindarle los productos <br> que sean de
            su agrado.</p>
          <p class="card-text"><small class="text-muted">Valor: $55.000 cop</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CANASTA KIDS-->
<div class="col-lg-12">
  <div class="card text-center border-primary mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CANASTA KIDS</h5>
          <p class="card-text">Es un detalle que tiene encuenta el deseo <br> de complacer a los niños con sus gustos favoritos.</p>
          <p class="card-text"><small class="text-muted">Valor: $50.000 cop</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../assets/imagenes/Canastakids.png" alt="Canastakids" style="width: 150px;">
      </div>
    </div>
  </div>
</div>
<!--CANASTAS CABALLERO-->
<div class="col-lg-12">
  <div class="card text-center border-info mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/imagenes/Canastacaballero.png" alt="Canastacaballero" style="width: 150px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CANASTA CABALLERO</h5>
          <p class="card-text">Con esta canasta consentiras al cabellero, <br> con un detalle apropiado, pero especial.</p>
          <p class="card-text"><small class="text-muted">Valor: $65.000 cop</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CANASTA DAMA-->
<div class="col-lg-12">
  <div class="card text-center border-primary mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CANASTA DAMA</h5>
          <p class="card-text">Consiente aquella mujer con algo diferente, <br> un detalle justo para una ocasión <br> en la que quieras sorprender.</p>
          <p class="card-text"><small class="text-muted">Valor: $50.00-70.000 cop</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../assets/imagenes/Canastadamapng.png" alt="Canastadama" style="width: 150px;">
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>