<div class="card bg-dark text-white">
    <img src="../../../assets/imagenes/fondomeetus.png" class="card-img" alt="fondomeetus">
    <div class="conocenos align-middle">
    <div class="card-img-overlay">
      <h5 class="card-title" style="color: rgb(189, 119, 255); size: 100px;"><strong> CONOCENOS </strong></h5>
      <br>
      <p class="card-text"><em><strong>"Somos emprendedoras, madre e hija, <br> que buscan satisfacer a cada uno de sus clientes <br> de acuerdo a sus gustos."</strong></em></p>
      <br>
      <img src="../../../assets/iconos/madre e hija.png" alt="conocenos" width="100px">
    </div>
    </div>
  </div>
