.rompecabezas{
    background: rgba(94, 0, 63, 0.501);
    padding-bottom: 20px;
}
.rompecabezas1{
    height: 180px;
    width: 100%;
    padding: 100px;
}
.rompecabezas2{
    height: 180px;
    width: 100%;
    padding: 100px;
}
.rompecabezas3{
    height: 180px;
    width: 100%;
    padding: 100px;
}
.rompecabezas4{
    height: 180px;
    width: 100%;
    padding: 100px;
    padding-top: 40px;
}